.landing {

  position:relative;
  overflow: hidden;
  height: 100vh;




    .landing__title {
      position:absolute;
      width: 100%;
      text-align: center;
      top:15vh;


      @include responsive($md){
        position: absolute;
        top:0;
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;

        h1{
          padding: 0 30px;
        }
      }

    }

    .landing__circle {
      position:absolute;
      left:calc(50% - 122px);
      top:calc(60vh - 122px);
      width: 244px;
      height: 244px;
      box-shadow: $box-shadow;

      @include responsive($md){
        left:calc(50% - 218px);
        top:calc(50% - 218px);
        width: 436px;
        height: 436px;
      }
    }

  .landing__portrait {
    position: absolute;
    top:32vh;
    height: 60vh;
    width: 100vw;
    text-align: center;

    @include responsive($md){
      height: 100vh;
      width: 100vw;
      top:0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img{
      height: 100%;

      @include responsive($md){
        height:80vh;
      }

    }
  }
    .landing__scroll {

      position: absolute;
      top:88vh;
      height: 20vh;
      width: 100vw;

      @include responsive($md){
        bottom: 0;
      }

      .landing__scrollMessage {
        color:$main-color;
        width: 100%;
        text-align: center;
        position: absolute;
        top:20px;
        cursor:pointer;

        @include responsive($md){
          top:38px;
        }

        img{
          display: block;
          margin:11px auto;
        }

      }


      .landing__scrollCircle {
        display:block;
        width: 100vw;
        height: 20vh;
        bottom: 0;

        -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
        border-radius:         50%  50%  0% 0%  / 100%   100%   0%  0%;
        box-shadow: $box-shadow;
        background: $white;
      }
    }

}



.last-new {

    .news-header{
      background: $white !important;
    }

    .last-new__description{
      color:$gray;
      border-bottom: 1px solid $border-color;
      padding-bottom: 40px;
    }

    .last-new__playlist {

      ol {
        list-style: none;
        padding: 0;
        margin-top:40px;
      }
      li {
        counter-increment: item;
        margin-bottom: 15px;

      }
      li:before {
        margin-right: 10px;
        content: counter(item) ".";
        border-radius: 100%;
        width: 1.2em;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-style: italic;
        color:$border-color;
      }
  }

  .album__buy {
    text-align: center;
    margin-top: -22px;

    img{
      width: 150px;
      height: auto;
      cursor: pointer;
    }

    @include responsive($sm){
      margin-top:10px;
    }
  }

}


.tour-homepage{
  width: 100vw;
  margin-top:100px;
  padding:50px 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;

  @include responsive($sm){
    height: 90vh;

  }

  @include responsive($md){
    justify-content: center;
    align-items: center;
    height: 780px;
    padding: 0;
  }


  &:before{
    content:'';
    z-index:-1;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: $background-light-gray;

    @include responsive($md){
      width: 90%;
    }

    @include responsive($md){
      justify-content: space-between;
      align-items: center;
    }

  }


  .tour__left {
    margin-top:calc(10% + 40px);
    padding:0 24px;

    @include responsive($sm){
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    @include responsive($md){
      width: 30vw;

      order:1;
      margin:0;
    }

    .date{
      color:$black;
    }

    .tour__list {
      ul {
        margin-bottom: 29px;
        li {
          padding: 10px 0;
          span{
            font-size: 1.875rem;
            font-weight: bold;
          }
          &:not(:first-child) {
            display: none;

            @include responsive($md) {
              display: inherit;
            }
          }
        }
      }
      a {
        margin-top: 30px;
      }
    }
  }

  .tour__right {

    width: 100vw;
    height: 50%;


    @include responsive($md){
      height: 100%;
      width: 70vw;
      order:2;
    }

    .tour__slider {
      width: 80%;
      height: 100%;

      margin-left:20%;

      @include responsive($sm){
        width: 60%;
        margin: auto;

        .slider__wrapper img, .slider-backgroud {
          border-radius: $border-radius !important;
        }

      }


      @include responsive($md){
        width: 80%;
        display: flex;
        align-items: center;
        margin-left: 20%;
      }


      .slider {
        width: 100%;
        height: 100%;

        @include responsive($sm){
          max-height: 400px;
        }

        @include responsive($md){
          max-height: 525px;
        }


      }
    }
  }
}



.music {
  margin-top:80px;
  display: flex;
  height: 450px;



  .music__banner{
    width: 100%;
    position: relative;
    background-position: 25%;
    background-repeat: no-repeat;
    background-size: cover;


    @include responsive($md) {
      width: 90%;
      margin-left:10%;
      border-radius: $border-radius 0 0 $border-radius;
      background-position: 60% ;

      .music-backgroud {
        height: 450px;
        width: calc(100% + 40px);
        box-shadow: $box-shadow;
        position: absolute;
        top: 0px;
        left: -40px;
        background: $white;
        border-radius: $border-radius 0 0 $border-radius;
        z-index: -1;
      }
    }

    .music__content{
      color:$white;
      display: flex;
      height: 100%;
      justify-content: center;
      flex-direction: column;
      align-content: center;
      padding: 100px 24px;

      @include responsive($md){
        width: 40%;
        margin-left: 40%;
      }

      p{
        padding:25px 0;
      }

      .music__see-more {
        margin-top:20px;
      }
    }
  }

}


.news{
  margin: 110px 0;
  width: 100vw;

  .news-list{
    margin-top:0 !important;
  }

  .news-title{
    text-align: center;
  }

  .news__more{
    margin-left: 24px;

    @include responsive($sm){
      text-align: center;
    }
  }
}