.news-container {

  .news-header {
    background: $background-light-gray;

    .news-header__left {
      display: inline-block;
      width: 40vw;
    }

    .news-header__right {
      display: inline-block;
      width: 40vw;

      .news-header__title {
        margin-top: 15vh;
      }
    }

  }
}