.news-container, .last-new {
  .news-header {
    padding: 62px 24px;
    background: $background-light-gray;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;


    @include responsive($sm){

      padding: 0 5vw 62px 5vw;
    }

    @include responsive($md){
      justify-content: space-between;
      align-items: center;
      padding: 20px 10vw 62px 10vw;
      margin-top: 100px;
    }

    @include responsive($lg){
      padding: 100px 10vw;
    }


    .news-header__left {
      display: inline-block;
      width: calc(100% - 24px);

      @include responsive($sm){
        max-width: 60%;

      }

      @include responsive($md){
        width: 46%;
      }

      .news-header__image-container {
        position: relative;
        z-index: 0;

        .news-header__image {
          border-radius: $border-radius;
          width: 100%;

          img {
            width: 100%;
            border-radius: $border-radius;
          }
        }

        .new-header__left-backgroud{
          height: 100%;
          width: 100%;
          box-shadow: $box-shadow;
          position: absolute;
          top: -20px;
          left: 20px;
          background: $white;
          border-radius: $border-radius;
          z-index: -1;

          @include responsive($lg) {
            top: -60px;
            left: 40px;
          }
        }
      }
    }

    .news-header__right {
      display: inline-block;
      margin-top: 62px;

      @include responsive($sm){
        width: 60%;
      }

      @include responsive($md){
        width: 46%;
      }

      .news-header__description {
        margin-top: 27px;
      }

      .news-header__date{
        margin: 25px 0 45px 0;
      }
    }
  }

  .news-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 45px 0;
    padding: 0 24px;

    @include responsive($sm){
      width: calc(90vw + 1rem);
      margin: 45px auto;
      padding: 0;
    }

    @include responsive($md){
      width: calc(80vw + 1rem);
      margin-top: 104px;
    }


  }
}





