.footer {
  height: 450px;
  width: 100vw;
  position: relative;
  display: flex;

  .footer__newsletter {
    width: 50%;
    background: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    .footer__email-form {
      box-shadow: $box-shadow;
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      align-items: stretch;
      width: 320px;
      margin-top: 30px;
    }

    .footer__email-input {
      padding: 15px 20px;
      border: none;
      width: 100%;
    }

    .footer__submit-input {
      padding: 15px 20px;
      background: $black;
      border: none;
      height: 100%;
    }
  }

  .footer__socials {
    color: white;
    background: $black;
    display: flex;
    width: 50%;
    height: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    ul#menu-social-links-2 {
      display: flex;
      margin-top:36px;
      li {
        padding:0 12.5px;
      }

       i {
         color:$white;

         &:hover {
           color:$main-color;
         }
      }
    }
  }

  .footer__privacy {
    position: absolute;
    bottom:20px;
    left:5%;

    ul {
      display: flex;
      align-items: center;
      flex-direction: column;

      @include responsive($md){
        flex-direction: row;
        justify-content: space-between;

      }

      li{
        padding: 5px 0px;
        @include responsive($md){
          padding: 0px 40px 0px 0px;
        }
      }

      @include responsive($md) {
        bottom: 27px;
      }

      a {
        color: $footer;
      }
    }
  }
}

