.header {
  position: fixed;
  width: 100vw;
  height: 80px;
  z-index:$zindex-9;
  background: $white;
  transition: $transition;
  top: 0;

  .header__alert-band {
    background: $main-color;
    padding: 10px 40px;
    height: 50px;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .header__alert-close
    {
      width: 24px;
      height: 24px;
    }
  }

  @include responsive($md) {
    height: 100px;
  }

  .header--desktop{
    display: none;
    @include responsive($md) {
      display: flex;
      justify-content: space-around;
      height: 64px;
      margin: 18px 20px;
      align-items: center;
    }

    .header__right--desktop{
      display: flex;
      width: 35vw;
      #menu-social-links{
        justify-content: space-between;
      }

      #menu-language-switcher{
        padding: 0 15%;
      }

      #menu-external-link-en, #menu-external-link-fr{
        flex:1;
      }
    }
  }

  .header--mobile{

    @include responsive($md){
      display: none;
    }

    nav{
      display: none;
    }

    .header__top{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 16px 20px;
      height: 44px;

      #menu-language-switcher-1{
        display: inherit;
      }
    }
  }

  a.custom-logo-link {
    height: 100%;
    transition: $transition;

    @include responsive($md){
      text-align: center;
      width: 30%;
    }

    @include responsive($lg){
      width: 50%;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  ul {

    display: none;

    @include responsive($lg){
      width: 25vw;
    }

    @include responsive($md){
      width: 35vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
    }

  }
}

.header__toggle-nav{
  @include responsive($md){
    display: none;
  }
}

.header__nav-close{
  display: none;
}

#menu-social-links a i, #menu-social-links-1 a i {
   font-size: 22px !important;

}

#menu-language-switcher, #menu-language-switcher-1 {

  width: 50px;
  @include responsive($md) {
    justify-content: center;
  }

  li {
    padding:0 5px;
    border-right: 1px solid $border-color-bis;
    &:last-child {
      border: none;
      padding-right: 0;
    }

    &:first-child{
      padding-left: 0;
    }

    a{
      color:$border-color-bis;
    }
  }
  .current-lang a{
    color:$black !important;
  }
}




#menu-external-link-fr li, #menu-external-link-en li {
    border: 1px solid $black;
    border-radius: 5px;
    padding: 10px 20px;
}

.header--scrolling{
  box-shadow: $box-shadow;
  height: 60px;

  @include responsive($md){
    height: 80px;
  }

  .header--desktop {
    margin: 12px 20px;
    height: 36px;
    @include responsive($md){
      margin:20px;
      height: 40px;
    }


  }

  .header--mobile .header__top{
    height: 36px;
    margin: 12px 20px;
  }

}

.header--navigation-expanded{
  height: 100vh;
  overflow: hidden;

  .header--mobile{
    position: relative;
    nav {
      width: 100vw;
      display: inherit;
      height: calc(100vh - 80px);
      text-align: center;


      ul {
        display: flex;
        justify-content: space-around;
        font-size:42px;
      }

      #menu-main-menu-french-1, #menu-main-menu-english-1  {
        height: 65%;
        font-weight: bold;
        flex-direction: column;
      }

      #menu-external-link-fr-1, #menu-external-link-en-1{
        height: 20%;
        align-items: center;
      }

      #menu-social-links-1{
        height: 15%;
        width: 80vw;
        margin: auto;
        align-items: center;
      }
    }
  }
}

.header.alert {
  height: 140px;
}

