.slider{
  position: relative;

  .slider__wrapper{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    clip-path: inset(0px 100% 0px 0px);
  }

  .slider__wrapper.before {
    clip-path: inset(0px 0% 0px 0px);
    z-index: -1;
  }

  .slider__wrapper.active-next {
    animation-name: slide-prev;
  }

  .slider__wrapper.active-prev {
    animation-name: slide-next;
  }

  .slider__wrapper.active {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: $animaion-bezier;
    z-index: 1;

    @keyframes slide-next {
      from{
        clip-path: inset(0px 0% 0px 100);
      } to {
          clip-path: inset(0px 0% 0px 0px);
        }
    }
    @keyframes slide-prev {
      from{
        clip-path: inset(0px 100% 0px 0px);
      } to {
          clip-path: inset(0px 0% 0px 0px);
        }
    }
  }

  img{
    height: auto;
    width: 100%;
    border-radius:$border-radius;
  }

  &:before{
    content:"";
    height: 110%;
    width: 105%;
    box-shadow: $box-shadow;
    position: absolute;
    top:20px;
    left:-20px;
    background: $white;
    border-radius:$border-radius 0 0 $border-radius ;
    z-index: -1;

    @include responsive($md){
      top:47px;
      left:-40px;
      height: 100%;

    }
  }

  .tour-photo-controls{
    position: absolute;
    margin-top:10px;
    width: 100%;
    display:flex;
    height: 26px;
    bottom: -17%;

    @include responsive($md){
      bottom:inherit;
    }


    p{
      display: inline-block;
      color: $text-color;
      strong{
        color: $black;
      }
    }

    .slider__prev{
      margin-left:10%;
      display: flex;
      cursor: pointer;
    }

    .slider__timeline{
      height: 1px;
      background-color: $border-color;
      width: 45%;
      position: relative;
      margin: 13px 20px;

      @include responsive($md){
        width: 67%;

      }


      .slider__timeline--progress {
        position:absolute;
        left:0;
        top:0;
        right: 0;
        bottom: 0;
        background-color:$black ;
        transform: scale(0, 1);
        transform-origin: 0 50%;
        transition: transform 1s $animaion-bezier;

      }
    }

    .slider__next {
      display: flex;
      cursor: pointer;
    }
  }
}